<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Computer Vision 서비스 앱</title>
    </head>
    <body>
        <h1>Jinja</h1>
        <p>jinja는 파이썬을 위한 현대적인 디자이너에게 친숙한 방식의 템플릿 언어입니다.</p>
        <p>Django의 템플릿을 참조했습니다.</p>
        <p>빠르고, 보안도 좋고, 널리 사용됩니다.</p>
        
        <h1>jinja2 : 템플릿 엔진</h1>
        <p>{% ... %} : 조건, 반복 등등 프로그래밍 요소</p>
        <p>{{ ... }} : 위에 프로그래밍 요소의 결과를 출력</p>
        <p>{# ... #} : 주석</p>
        <p># ... # : 주석</p>
    </body>
</html>