<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF=8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Response</title>
    </head>

    <body>
        <h1>전달받은 내용입니다</h1>
        <table border="1px" align="center">
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>

            {% for key, value in data.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>